/* Meu primeiro Comentário */
/* Reset do CSS para o navegador*/ 
*{
    margin: 0;  /* Margem */
    padding: 0;  /* Preenchimento */
} 

/* Corpo do Site */ 
body{
    height: 100%; /* altura */
    width: 100%; /* largura */
    display: flex;
    justify-content: center;
    background: linear-gradient(#c58cab, #bd6997);
    background-repeat: no-repeat;
}   
/* Logo  */ 
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 40px;
}

/* Titulo */ 
.name{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #ca3286;
    font-family: Arial, Helvetica, sans-serif;
}

/* Topico Redes Sociais */
.redes-sociais{
    margin-top: 10px;
    margin-bottom: 50px;
    display:flex; /* organizar itens na mesma linha */
    justify-content:center;
    align-items:center; /* alinhamento de itens  */
}
.icon, #email {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px; 
    transition: all 0.3s ease-out; /* voltar na explicação */ 
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icon i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color:#630875;  /* Cor do Icone */
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color:#8814a5 ; /* Cor do Icone */
    line-height: 35px;
    font-size: 17px;
}
.name-icon{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    float: right;
    color: #c7c8c8;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover{
    width: 140px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}
.icon:nth-child(1):hover i{
    background: #f175d2;
}
.icon:nth-child(2):hover i{
    background: #f175d2;
}
.icon:nth-child(3):hover i{
    background: #f175d2;
}
.icon:nth-child(4):hover i{
    background: #f175d2;
}
.email:hover i {
    background: f175d2;    
}

/* FiM DAS REDES*/

/* CSS TEXTO */

.texto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom: 60px;
    text-align: justify;
    width: 500px;
    height: 150px;
    padding: 30px 35px;
    border-radius: 5px;
    color: rgb(21, 23, 24);
    background-color: #e9afd3;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(165, 47, 47, 0.1); /*RGBA = AlPhA PARA TRANSPARENCIAS */
    cursor: pointer; 
}
#sobre-mim{
    position: absolute;
    top: -5px;
    display: flex;
    justify-content: center; /* centralizar Texto */
    align-items: center; 
    margin: auto;
    margin-top: 20px;
    display: flex;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    

}
.Linguagens{
    display: flex;
    justify-content: center;
    margin: 40px;

}
.Linguagens img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
    border-radius: 150PX;

}
.projetos{ 
    margin: auto;
    margin-top: 40px;
    flex-direction: column;

    
}
.projetos a{
    text-decoration: none;
    color: rgb(236, 247, 225)
}



.item{ 
    margin: auto;
    display: flex; /* nulo */
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: #131212;
    border: 5px solid #99478b;
    border-radius: 50px;
    width: 570px;
    height: 60px;
    margin-bottom: 7px;
    background: rgb(235, 117, 146)
    0 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#video{
    padding: 10px;
    margin: auto;
    display: none;
}
#video.active{
    display: block;
}
.rodape{
    color: #8a0753;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}



.subtitulo{
    margin-top: 40px;
    color: rgb(168, 18, 75);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
   
}

/* fim das configuracoes


/* Dispositivos Mobieles */
@media (max-width:700px){
    .imagem img{
        width: 150px;
        border-radius: 200px;
        margin-top: 30px;

}

.texto{
    width: 350px;
    height: 500px;
}

.Linguagens img{
    width: 165px;
}

.item{
    width: 350px;

}

#video{
    width: 330px;
}


}/*Fim resolucao 700px*/

@media (max-width :500px){
    .imagem img{
        width: 120px;
    }

    .texto{
        padding: 15px;
        width: 244px;
        height: 400px;
        margin-top: 30px;
    }
    .subtitulo{
        font-size: 22px;
        margin-top: 22px;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #video{
        width: 270px;
        height: 160px;
    }
    .item{
        width: 265px;
        height: 40px;
    }

    .linguagem img {
        margin-top: 15px;
        width: 128px;
    }

    .icon ,#email{
        width: 25px;
        height: 25px;
        border-radius: 30px;
    }

    .icon i, #email i{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 15px;
        border-radius: 30px;
    }

    .icon span {
        margin-right: 43px;
        line-height: 20px;
        font-size: 30px;
    }

    .rodape{
        font-size: 20px;
        margin-top: 30px;
        padding: 20px;
    }
        
    /*fim resolucao 500px*/
}
