/* Meu primeiro Comentário */
/* Reset do CSS para o navegador*/ 
*{
    margin: 0;  /* Margem */
    padding: 0;  /* Preenchimento */
} 

/* Corpo do Site */ 
body{
    height: 100%; /* altura */
    width: 100%; /* largura */
    display: flex;
    justify-content: center;
    background: linear-gradient(#7aeef8, #c7c8c8);
    background-repeat: no-repeat;
}   
/* Logo  */ 
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 150px;
}

/* Titulo */ 
.name{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #308ff4;
    font-family: Arial, Helvetica, sans-serif;
}

/* Topico Redes Sociais */
.redes-sociais{
    margin-top: 10px;
    margin-bottom: 50px;
    display:flex; /* organizar itens na mesma linha */
    justify-content:center;
    align-items:center; /* alinhamento de itens  */
}
.icon, .email {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px; 
    transition: all 0.3s ease-out; /* voltar na explicação */ 
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color:#308ff4;  /* Cor do Icone */
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color:#308ff4 ; /* Cor do Icone */
    line-height: 35px;
    font-size: 17px;
}
.name-icon{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    float: right;
    color: #c7c8c8;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover{
    width: 125px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}
.icon:nth-child(1):hover i{
    background: #030303;
}
.icon:nth-child(2):hover i{
    background: #df4bf2;
}
.icon:nth-child(3):hover i{
    background: #41adec;
}
.icon:nth-child(4):hover i{
    background: #030303;
}
.email:hover i {
    background: red;    
}

/* FiM DAS REDES*/

/* CSS TEXTO */

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom: 60px;
    text-align: justify;
    width: 500px;
    height: 150px;
    padding: 30px 35px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #c42486;
    overflow: hidden;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.1); /*RGBA = AlPhA PARA TRANSPARENCIAS */
    cursor: pointer; 
}
.titulo{
    display: flex;
    justify-content: center; /* centralizar Texto */
    align-items: center;
    margin: auto;
    margin-top: 20px;
    display: flex;
    color: #308ff4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;

}
.linguagens{
    display: flex;
    justify-content: center;
    margin: 10px;

}
.linguagens img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    border-radius: 200px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgb(98, 98, 98);
}
.projetos{
    















.item{ 
    margin: auto;
    display: flex; /* nulo */
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #41adec;
    border: 5px solid #41adec;
    border-radius: 50px;
    width: 570px;
    height: 60px;
    margin-bottom: 7px;
    background: rgb(105, 98, 98)
    0 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#video{
    padding: 10px;
    margin: auto;
    display: none;
}
#video.active{
    display: block;
}
.rodape{
    color: #308ff4;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}



    

    
    


    



.titulo1{
    margin-top: 40px;
    color: rgb(160, 11, 68);
}